<div class="alert alert-info text-center mt-2" *ngIf="id == '1'">
    <h4>Noticia {{id}}</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate architecto distinctio autem iusto consequuntur quo corporis, omnis nulla praesentium ea molestiae illum quisquam, neque doloribus rerum consectetur maxime incidunt optio.</p>
</div>

<div class="alert alert-info text-center mt-2" *ngIf="id == '2'">
    <h4>Noticia {{id}}</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate architecto distinctio autem iusto consequuntur quo corporis, omnis nulla praesentium ea molestiae illum quisquam, neque doloribus rerum consectetur maxime incidunt optio.</p>
</div>

<div class="alert alert-info text-center mt-2" *ngIf="id == '3'">
    <h4>Noticia {{id}}</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate architecto distinctio autem iusto consequuntur quo corporis, omnis nulla praesentium ea molestiae illum quisquam, neque doloribus rerum consectetur maxime incidunt optio.</p>
</div>

<div class="alert alert-info text-center mt-2" *ngIf="id == '4'">
    <h4>Noticia {{id}}</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate architecto distinctio autem iusto consequuntur quo corporis, omnis nulla praesentium ea molestiae illum quisquam, neque doloribus rerum consectetur maxime incidunt optio.</p>
</div>
